.scope__content h3 {
  text-align: center;
}
.curved-underline-text {
  position: relative; /* Essential for positioning the pseudo-element */
  display: inline-block; /* Or inline-flex, to make it wrap around text correctly */
  }

.curved-underline-text::after, .curved-underline-text::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px; /* Thickness of the curve */
  background-color: transparent; /* The "line" itself will be a border */
  border: solid 2px; /* Set a border for the curve */
  border-color: var(--main-dark) transparent transparent transparent; /* Only top border visible */
  border-radius: 50% / 5px;
}

.curved-underline-text::after {
    bottom: -4px;
}
.curved-underline-text::before {
  bottom: 22px;
}


@media (min-width: 768px) {
  .scope__lists {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;

  }
  .scope__ul {
    width: 25%;
  }

}