:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-clear:#e0e0db;
  --main-dark:#2a2829;

}

body {
  margin: 0;
  padding: 0;
}

.background_clear {
  background-color: var(--main-clear);
  color: var(--main-dark)
}
.background_dark {
  background-color: var(--main-dark);
  color: #EEEEEE
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 6.2rem;
  line-height: 1.0;
  letter-spacing: -0.03em;
  font-weight: 400;
}
h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 4.1rem;
  line-height: 1.1;
  letter-spacing: -0.025em;
  font-weight: 400;
  margin-bottom: 2rem;
}
h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.8rem;
  line-height: 1.2;
  letter-spacing: -0.05em;
  font-weight: 500;
  margin-bottom: 2rem;
}
h4 {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0em;
  font-weight: 400;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
button, p, li{
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem !important ;
  line-height: 1.8;
  letter-spacing: -0.025em;
  font-weight: 400;
}

ul li::marker {
  font-size: 0.6em;
}

.max-width {
  max-width: 1200px;
  margin: auto
}

.padding-sections {
  padding: 3rem 1.3rem;
}

@media (min-width: 768px) {
  .padding-sections {
    padding: 3rem 4rem;
  }
  
}